body {
     front-family: Arial, sans-serif;
     margin:20px
     }
h1 {
       text-align: center;
       }
h2 {
       margin-top:30px;
       }
img {
       max-width: 100%;
       height: auto;
       margin-bottom: 20px;
       }
h1, h2 {
       front-family: Arial, sans-serif;
       }
imd {
       display: block;
       margin: 20px auto;
       }